<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">FLASK APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
            </li>
        </ul>
        
        </form>
        <div class="nav navbar-nav nabvar-right">
            {% if current_user.is_authenticated %}
                {% if current_user.is_writer == 'Yes' %}
                    <li class="nav-item">
                        <a href="{{ url_for('writer.new_post') }}" class="nav-link">New Post</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url_for('main.profile',username=current_user.username) }}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user.logout') }}" class="nav-link">Log out</a>
                </li>
            {% else %}
                    <li class="nav_item">
                        <a href="{{ url_for('main.login') }}" class="nav-link">Log In</a>
                    </li>
                    <li class="nav_item">
                        <a href="{{ url_for('main.signup') }}" class="nav-link">Sign Up</a>
                    </li>
            {% endif %}
        </div>
    </div>
</nav>
