{% extends 'base.html' %}

{% block body %}
 
{% for post in posts %}
    {% if current_user.is_authenticated %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('main.profile',username=post.author.username) }}">{{
                        post.author.username}}</a>
                    <small class="text-muted">{{ post.date_created.date() }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('writer.post',post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% else %}  
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <p class="mr-2" style="display: inline;">{{post.author.username}}</p>
                    <small class="text-muted">{{ post.date_created.date() }}</small>
                </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endif %}
{% endfor %}

{% endblock %}